<html>
  <body>
    <strong><%= rel %></strong>
    <br> <br>
    <hr> <hr>

    <ul>
      <% 
        entries.each do |entry|
          href = entry
      %>
      <li>
        <a href="./<%= href %>"><%= href %></a>
      </li>
      <% end %>
    </ul>

    <br> <br>
    <hr> <hr>

    <% if rel != '/' %>
      <a href="../">&lt;&mdash;&mdash;</a>
    <% else %>
      <a href="./">&lt;&mdash;&mdash;</a>
    <% end %>
  </body>
</html>
